[workspace]
members = [
  "crates/node",
  "crates/runtime",
  "crates/pallets/starknet",
  "crates/primitives/starknet",
  "crates/primitives/digest-log",
  "crates/client/block-proposer",
  "crates/client/db",
  "crates/client/rpc-core",
  "crates/client/rpc",
  "crates/client/mapping-sync",
  "crates/client/storage",
  "crates/client/transaction-pool",
]
[profile.release]
panic = "unwind"

[workspace.package]
authors = ["Abdelhamid Bakhta <@abdelhamidbakhta>"]
edition = "2021"
repository = "https://github.com/keep-starknet-strange/madara/"

[workspace.dependencies]
# Substrate frame dependencies
frame-executive = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
frame-benchmarking = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
frame-benchmarking-cli = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
frame-system-benchmarking = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
frame-system-rpc-runtime-api = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
frame-try-runtime = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
substrate-frame-rpc-system = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }

# Substrate primitives dependencies
sp-core = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-io = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-consensus-aura = { git = "http://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-consensus = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-consensus-grandpa = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-timestamp = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-inherents = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-keyring = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-api = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-blockchain = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-block-builder = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-offchain = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-session = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-transaction-pool = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-version = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-database = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-arithmetic = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-storage = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-state-machine = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-trie = { version = "22.0.0", git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sp-tracing = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }

# Substrate client dependencies
sc-client-db = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", features = [
  "rocksdb",
] }
sc-network = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
sc-network-common = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
sc-network-sync = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
sc-consensus = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
# For integration tests in order to create blocks on demand
sc-consensus-manual-seal = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8", default-features = false }
sc-consensus-grandpa = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
sc-rpc = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
sc-rpc-api = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
sc-basic-authorship = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
sc-client-api = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
sc-cli = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
sc-executor = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
sc-service = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
sc-telemetry = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
sc-keystore = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
sc-transaction-pool = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
sc-transaction-pool-api = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
sc-consensus-aura = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
sc-block-builder = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
sc-proposer-metrics = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
sc-utils = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }


# Substrate build & tools dependencies
substrate-build-script-utils = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
substrate-wasm-builder = { git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
prometheus-endpoint = { package = "substrate-prometheus-endpoint", version = "0.10.0-dev", git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }

# Substrate Frame pallet
pallet-aura = { default-features = false, git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
pallet-grandpa = { default-features = false, git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }
pallet-timestamp = { default-features = false, git = "https://github.com/paritytech/substrate", rev = "2e7fde8" }

# Madara pallets
pallet-starknet = { path = "crates/pallets/starknet", default-features = false }

# Madara primtitives
mp-starknet = { path = "crates/primitives/starknet", default-features = false }
mp-digest-log = { path = "crates/primitives/digest-log", default-features = false }

# Madara client
mc-mapping-sync = { path = "crates/client/mapping-sync" }
mc-db = { path = "crates/client/db" }
mc-storage = { path = "crates/client/storage" }
mc-rpc = { path = "crates/client/rpc" }
mc-rpc-core = { path = "crates/client/rpc-core" }
mc-block-proposer = { path = "crates/client/block-proposer" }
mc-transaction-pool = { path = "crates/client/transaction-pool" }

# Madara runtime
madara-runtime = { path = "crates/runtime" }

# Starknet dependencies
# Cairo Virtual Machine
cairo-vm = { git = "https://github.com/keep-starknet-strange/cairo-rs", branch = "no_std-support-with-cairo-1", default-features = false, features = [
  "cairo-1-hints",
] }
starknet-crypto = { version = "0.5.1", default-features = false }
starknet-core = { version = "0.3.0", default-features = false }
starknet-ff = { version = "0.3.3", default-features = false }
poseidon_hash = { default-features = false, package = "poseidon", git = "https://github.com/EvolveArt/poseidon-rs", branch = "feature/no-std-refractor", features = [
  "alloc",
] }
blockifier = { git = "https://github.com/keep-starknet-strange/blockifier", branch = "no_std-support", default-features = false }
starknet_api = { git = "https://github.com/keep-starknet-strange/starknet-api", branch = "no_std-support", features = [
  "testing",
], default-features = false }
# Other third party dependencies
anyhow = "1.0.71"
flate2 = "1.0.26"
scale-codec = { package = "parity-scale-codec", version = "3.2.2", default-features = false }
scale-info = { version = "2.6.0", default-features = false }
lazy_static = { version = "1.4.0", default-features = false }
log = { version = "0.4.19", default-features = false }
hex = { version = "0.4.3", default-features = false }
safe-mix = { version = "1.0", default-features = false }
jsonrpsee = { version = "0.16.2", default-features = false }
clap = { version = "4.3.4", default-features = false }
futures = { version = "0.3.28", default-features = false }
futures-timer = { version = "3.0.2", default-features = false }
serde = { version = "1.0.163", default-features = false }
serde_json = { version = "1.0.97", default-features = false }
serde_with = "2.3.3"
bitvec = { version = "0.17.4", default-features = false }
thiserror = "1.0.40"
thiserror-no-std = "2.0.2"
derive_more = { version = "0.99.17", default-features = false }
rstest = "0.17.0"
pretty_assertions = "1.3.0"
linked-hash-map = { version = "0.5.6", default-features = false }
parking_lot = "0.12.1"
async-trait = "0.1.68"
cargo-husky = { version = "1.5.0", features = ["user-hooks"] }
indexmap = { git = "https://github.com/bluss/indexmap", rev = "ca5f848e10c31e80aeaad0720d14aa2f6dd6cfb1", default-features = false }
