[package]
name = "pallet-starknet"
version = "0.1.0-dev"
description = "FRAME pallet to execute Starknet contracts."
authors = ["Abdelhamid Bakhta <@abdelhamidbakhta>"]
homepage = "https://github.com/keep-starknet-strange/madara"
edition = "2021"
license = "MIT"
publish = false
repository = "https://github.com/keep-starknet-strange/madara"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
# Kaiohsin pallets
# Madara primitives
mp-starknet = { workspace = true, default-features = false }
starknet-crypto = { workspace = true, default-features = false, features = [
  "alloc",
] }
blockifier = { workspace = true, default-features = false, features = [
  "testing",
] }
starknet_api = { workspace = true, default-features = false }

# Substrate frame
frame-support = { workspace = true }
frame-system = { workspace = true }
frame-benchmarking = { workspace = true, optional = true }

# Substrate primitives
sp-core = { workspace = true }
sp-io = { workspace = true }
sp-runtime = { workspace = true }

# Frame pallets

# Other third party dependencies
serde = { version = "1.0.159", features = ["derive"], default-features = false }
serde_json = { version = "1.0.95", default-features = false }
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = [
  "derive",
] }
scale-info = { workspace = true }
log = { workspace = true }

[dev-dependencies]
hex = { workspace = true }
pallet-timestamp = { workspace = true }
pretty_assertions = "1.3.0"
test-case = "3.1.0"

[features]
default = ["std"]
std = [
  # Substrate
  "frame-support/std",
  "frame-system/std",
  "sp-io/std",
  "sp-runtime/std",
  "frame-benchmarking?/std",
  "scale-info/std",
  "pallet-timestamp/std",
  # Madara
  "mp-starknet/std",
  # Starknet
  "starknet-crypto/std",
  "blockifier/std",
  # Other third party dependencies
  "codec/std",
]
runtime-benchmarks = ["frame-benchmarking/runtime-benchmarks"]
try-runtime = ["frame-support/try-runtime"]
