[package]
name = "pallet-starknet"
version.workspace = true
edition.workspace = true
description = "FRAME pallet to execute Starknet contracts."
authors = ["Abdelhamid Bakhta <@abdelhamidbakhta>"]
homepage = "https://github.com/keep-starknet-strange/madara"
license = "MIT"
publish = false
repository = "https://github.com/keep-starknet-strange/madara"


[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
# Madara primitives
mp-digest-log = { workspace = true, default-features = false }
mp-starknet = { workspace = true, default-features = false }

blockifier = { workspace = true, default-features = false, features = [
  "testing",
  "parity-scale-codec",
] }
starknet-core = { workspace = true, default-features = false }
starknet-crypto = { workspace = true, default-features = false, features = [
  "alloc",
] }
starknet_api = { workspace = true, default-features = false }

# Substrate frame
frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
# Substrate Client
sc-cli = { workspace = true, optional = true }
# Substrate primitives
sp-api = { workspace = true }
sp-core = { workspace = true }
sp-inherents = { workspace = true }
sp-io = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
# Frame pallets

# Other third party dependencies
hex = { workspace = true }
indexmap = { workspace = true }
log = { workspace = true }
reqwest = { workspace = true, optional = true, features = [
  "blocking",
  "rustls-tls",
] }
scale-codec = { workspace = true, features = [
  "derive",
] }
scale-info = { workspace = true, features = ["derive"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
serde_with = { workspace = true }

[dev-dependencies]
pallet-timestamp = { workspace = true }
pretty_assertions = { workspace = true }
test-case = "3.1.0"
lazy_static = "1.4.0"
hexlit = "0.5.5"

[features]
default = ["std"]
std = [
  # Substrate
  "frame-support/std",
  "frame-system/std",
  "sc-cli",
  "sp-io/std",
  "sp-runtime/std",
  "frame-benchmarking?/std",
  "scale-info/std",
  "pallet-timestamp/std",
  "sp-inherents/std",
  # Madara
  "mp-starknet/std",
  # Starknet
  "starknet-crypto/std",
  "blockifier/std",
  # Other third party dependencies
  "scale-codec/std",
  "reqwest",
]
runtime-benchmarks = ["frame-benchmarking/runtime-benchmarks"]
try-runtime = ["frame-support/try-runtime"]
