[package]
name = "mp-starknet"
version = "0.1.0-dev"
license = "MIT"
description = "Starknet primitives for Substrate."
authors = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
# Substrate
frame-support = { workspace = true }
sp-core = { workspace = true }
sp-std = { workspace = true }
sp-runtime = { workspace = true }

# Starknet
starknet-crypto = { workspace = true, default-features = false, features = [
	"alloc",
] }
starknet-ff = { workspace = true, default-features = false, features = [
	"alloc",
] }
poseidon_hash = { workspace = true, default-features = false }
blockifier = { workspace = true, default-features = false, features = [
  "testing",
] }
starknet_api = { workspace = true, default-features = false }

# Other third party dependencies
scale-codec = { package = "parity-scale-codec", workspace = true, features = [
	"derive",
	"max-encoded-len",
] }
scale-info = { workspace = true, features = ["derive"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { version = "1.0.96", default-features = false }
bitvec = { workspace = true, features = ["alloc"] }
hex = { version = "0.4.3", default-features = false }

[dev-dependencies]
rand = "0.8.5"
zstd = { version = "0.12.3", default-features = false }
pretty_assertions = "1.3.0"

[features]
default = ["std"]
std = [
	"scale-codec/std",
	"scale-info/std",
	"bitvec/std",
	# Starknet
	"starknet-crypto/std",
	"starknet-ff/std",
	"blockifier/std",
	"starknet_api/std",
	"poseidon_hash/std",
	# Substrate
	"frame-support/std",
	"sp-core/std",
	"sp-std/std",
	"sp-runtime/std",
]
