[package]
name = "mp-starknet"
version = "0.1.0-alpha"
license = "MIT"
description = "Starknet primitives for Substrate."
authors = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
# Substrate
frame-support = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

# Starknet
blockifier = { workspace = true, default-features = false, features = [
  "testing",
] }
cairo-vm = { workspace = true }
poseidon_hash = { workspace = true, default-features = false }
starknet-core = { workspace = true, optional = true }
starknet-crypto = { workspace = true, default-features = false, features = [
  "alloc",
] }
starknet-ff = { workspace = true, default-features = false, features = [
  "alloc",
  "serde",
] }
starknet_api = { workspace = true, default-features = false }

# Other third party dependencies
bitvec = { workspace = true, features = ["alloc"] }
derive_more = { workspace = true, features = ["constructor"] }
flate2 = { workspace = true, optional = true }
hex = { version = "0.4.3", default-features = false }
lazy_static = { workspace = true }
scale-codec = { package = "parity-scale-codec", workspace = true, features = [
  "derive",
  "max-encoded-len",
] }
scale-info = { workspace = true, features = ["derive"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { version = "1.0.96", default-features = false }
thiserror-no-std = { workspace = true }

[dev-dependencies]
rand = "0.8.5"
zstd = { version = "0.12.3", default-features = false }
hex = { workspace = true }
pretty_assertions = { workspace = true }

[features]
default = ["std"]
std = [
  "flate2",
  "scale-codec/std",
  "scale-info/std",
  "bitvec/std",
  # Starknet
  "starknet-crypto/std",
  "starknet-ff/std",
  "starknet-ff/serde",
  "starknet-core",
  "blockifier/std",
  "starknet_api/std",
  "poseidon_hash/std",
  # Substrate
  "frame-support/std",
  "sp-core/std",
  "sp-std/std",
  "sp-runtime/std",
  "thiserror-no-std/std",
]
