[package]
name = "mp-starknet"
version.workspace = true
edition.workspace = true
license = "MIT"
description = "Starknet primitives for Substrate."
authors = { workspace = true }
repository = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
# Substrate
sp-core = { workspace = true }
sp-inherents = { workspace = true }
sp-std = { workspace = true }

# Starknet
blockifier = { workspace = true }
cairo-lang-casm-contract-class = { workspace = true }
cairo-vm = { workspace = true }
starknet-core = { workspace = true }
starknet-crypto = { workspace = true, features = ["alloc"] }
starknet-ff = { workspace = true, features = ["alloc", "serde"] }
starknet_api = { workspace = true }

# Other third party dependencies
bitvec = { workspace = true, features = ["alloc"] }
derive_more = { workspace = true, features = ["constructor"] }
lazy_static = { workspace = true }
thiserror-no-std = { workspace = true }

# Optional deps
async-trait = { workspace = true, optional = true }
cairo-lang-starknet = { workspace = true, optional = true }
cairo-lang-utils = { workspace = true, optional = true }
flate2 = { workspace = true, optional = true }
hex = { workspace = true, optional = true }
log = { workspace = true }
num-bigint = { workspace = true, optional = true }
parity-scale-codec = { workspace = true, features = [
  "derive",
  "bit-vec",
], optional = true }
phf = { version = "0.11", default-features = false }
scale-info = { workspace = true, features = [
  "derive",
  "bit-vec",
  "decode",
], optional = true }
serde = { workspace = true, features = ["derive"], optional = true }
serde_json = { workspace = true, optional = true }

[dev-dependencies]
assert_matches = "1.5.0"

[features]
default = ["std", "client"]
parity-scale-codec = [
  "dep:parity-scale-codec",
  "dep:hex",
  "dep:async-trait",
  "starknet_api/parity-scale-codec",
  "blockifier/parity-scale-codec",
]
scale-info = [
  "dep:scale-info",
  "starknet_api/scale-info",
  "blockifier/scale-info",
]
serde = ["dep:serde", "dep:serde_json"]
client = [
  "std",
  "dep:flate2",
  "dep:cairo-lang-starknet",
  "dep:cairo-lang-utils",
  "dep:num-bigint",
  "dep:serde_json",
]
std = [
  # Starknet
  "starknet-crypto/std",
  "starknet-ff/std",
  "starknet-ff/serde",
  "starknet-core/std",
  "blockifier/std",
  "starknet_api/std",
  # Substrate
  "sp-core/std",
  "sp-std/std",
  "sp-inherents/std",
  # Other
  "thiserror-no-std/std",
  "bitvec/std",
  # Optional deps
  "serde?/std",
  "serde_json?/std",
  "parity-scale-codec?/std",
  "scale-info?/std",
  "hex?/std",
  "cairo-lang-utils?/std",
  "num-bigint?/std",
]
