[package]
name = "mp-simulations"
version.workspace = true
edition.workspace = true
license = "MIT"
description = "Starknet chain ids"
authors = { workspace = true }
repository = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
blockifier = { workspace = true }
starknet-core = { workspace = true }

# Optional dependencies
parity-scale-codec = { workspace = true, optional = true }
scale-info = { workspace = true, optional = true }

[features]
parity-scale-codec = ["dep:parity-scale-codec"]
scale-info = ["dep:scale-info", "blockifier/scale-info"]
