name: Benchmark

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
    paths-ignore:
      - ".github/**"
      - "docs/**"
      - "examples/**"
      - ".*"
      - "README.md"
  pull_request:
    branches: [main]
    # paths-ignore:
    # - ".github/**"
    # - "docs/**"
    # - "examples/**"
    # - ".*"
    # - "README.md"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  # deployments permission to deploy GitHub pages website
  deployments: write
  # contents permission to update benchmark contents in gh-pages branch
  contents: write

jobs:
  benchmark:
    runs-on: [self-hosted, linux, benchmark]
    steps:
      - uses: actions/checkout@v3
        with:
          clean: false
      - name: Build tests and install benchmark projects
        run: |-
          cd tests
          npm clean-install
          npm run build
          cd ../benchmarking
          npm i
      - name: Build madara in release mode
        run: cargo build --workspace --release
      - name: Run benchmark
        run: |
          cd benchmarking
          cargo run --release -- --dev  --pool-limit=100000 --pool-kbytes=500000 --rpc-methods=unsafe --rpc-cors=all --in-peers=0 --out-peers=0 --no-telemetry &
          npm run test
      - name: Compare result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          tool: "customBiggerIsBetter"
          output-file-path: ./benchmarking/reports/metrics.json
          alert-threshold: "150%"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fail-on-alert: true
          comment-on-alert: true
          summary-always: false
          comment-always: false
          auto-push: false
      - name: Push result on gh page
        if: github.event_name == 'push' && github.base_ref == 'main'
        run:
          git push
          'https://keep-starknet-strange:${{secrets.GITHUB_TOKEN}}@github.com/keep-starknet-strange/madara.git'
          gh-pages:gh-pages
