name: Linters

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  spell-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: codespell-project/actions-codespell@v1
        with:
          check_filenames: true
          check_hidden: true
          ignore_words_file: ./.codespellignore
          skip: Cargo.lock,package-lock.json,target,yarn.lock,.git,resources

  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run prettier
        run: |-
          npx prettier --check .

  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ">=20"
          cache: "npm"
          cache-dependency-path: ./tests/package-lock.json
      - name: Install
        run: |-
          cd tests
          npm install
      - name: Run eslint
        run: |-
          cd tests
          npx eslint .

  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: avto-dev/markdown-lint@v1
        with:
          config: "./.markdownlint.json"
          args: "."
          ignore: "./target"
