---
name: Workflow - Push

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  linters:
    name: Run linters
    uses: ./.github/workflows/linters.yml

  rust_build:
    name: Build Rust project
    uses: ./.github/workflows/rust-build.yml

  linters_cargo:
    name: Run Cargo linters
    uses: ./.github/workflows/linters-cargo.yml
    needs: rust_build

  tests:
    name: Run tests and coverage
    uses: ./.github/workflows/tests-coverage.yml
    needs: rust_build

  benchmark:
    name: Run benchmarks
    uses: ./.github/workflows/benchmarks.yml
    needs: [rust_build, tests]

  rustdoc:
    name: Deploy docs to GitHub Pages
    uses: ./.github/workflows/rustdoc.yml
    needs: benchmark
    permissions:
      contents: write
